.write-section {
  margin: 1px -16px 0;

  .form-line input {
    padding-left: 16px;
    padding-right: 40px;
    border-color: $line;

    & ~ .textclear { right: 11px; }
  }

  .editor-area .input-text {
    border-radius: 0;
    border-top: 0;
    border-color: $line;
  }
}

.write-store-section {
  margin: 25px 0;

  .title {
    font: $bold-13;
    color: $text-color-dark;
    margin: 0 0 8px;
  }
}

@media (min-width: 900px) {
  .write-section {
    margin: 25px 0 0;

    .dropdown {
      width: 100%;
      margin-bottom: 12px;
    }

    .form-line {
      border: 1px solid $line;
      border-bottom: 0;
    }
  }
}

@media (min-width: 1200px) {
  .divide-group {
    display: flex;
  
    &>* {
      flex: 1;
      &:last-child { margin-left: 40px; }
    }
  }
}

//------------------------------------------------------------------------------------------------------------

.add-menu {
  margin: 0 -16px;
  padding: 0 16px 25px;

  & + .add-menu {
    padding-top: 25px;
    border-top: 8px solid $line;
  }

  .add-photo-area {
    position: relative;
    margin: 20px 0;

    .btn-add-photo {
      width: 70px;
      height: 70px;
      font-size: 0;
      border-radius: 4px;
      border: 1px solid $line;
      background: url(../images/icon/icon_photo.png) 50% 50% / 28px auto no-repeat;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 4px;
    }

    .btn-delete {
      position: absolute;
      right: 2px;
      top: 2px;
      width: 30px;
      height: 30px;
      padding: 0;
      font-size: 0;
      color: transparent;
      background: none;
  
      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        margin: 5px;
        background: rgba(0, 0, 0, 0.5) url(../images/icon/icon_delete_fff.png) 50% 50% / 11px auto no-repeat;
        border-radius: 50%;
      }
    }
  }

  textarea.input-text { height: 144px; }
}

@media (min-width: 900px) {
  .add-menu {
    margin: 0 -40px;
    padding: 0 40px 25px;
  
    .add-photo-area {
      position: relative;
      margin: 20px 0;
  
      .btn-add-photo {
        width: 70px;
        height: 70px;
        font-size: 0;
        border-radius: 4px;
        border: 1px solid $line;
        background: url(../images/icon/icon_photo.png) 50% 50% / 28px auto no-repeat;
      }
  
      img {
        width: 100%;
        height: auto;
        border-radius: 4px;
      }
  
      .btn-delete {
        position: absolute;
        right: 2px;
        top: 2px;
        width: 30px;
        height: 30px;
        padding: 0;
        font-size: 0;
        color: transparent;
        background: none;
    
        &::before {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          margin: 5px;
          background: rgba(0, 0, 0, 0.5) url(../images/icon/icon_delete_fff.png) 50% 50% / 11px auto no-repeat;
          border-radius: 50%;
        }
      }
    }
  
    textarea.input-text { height: 144px; }
  }
}

//------------------------------------------------------------------------------------------------------------

.popup-contents.type-write .contents {
  padding-top: 0;

  .list-top {
    margin: 0 -16px;
    padding: 0 16px;
  }

  .list-wrap {
    margin: 0 -16px;

    li { padding: 13px 16px; }
  }
}

@media (min-width: 900px) {
  .popup-contents.type-write {
    min-height: 50vh;
    .contents {
      .list-top {
        margin: 3px -40px 0;
        padding: 0 25px 0 40px;

        .chk-all { left: 40px; }
      }

      .list-wrap {
        margin: 0 -40px;
        li {
          width: 100%;
          padding: 13px 40px;
          margin: 0;
        }
      }
    }
  }
}